
.chat{
	background-color: #a7bcff;
	display: flex;
	align-items: center;
	justify-content: center;
	height:100vh;
	@media (max-width: 768px) {
		width: 90vw;
		height: 70vh;
	  }
	.container{
		border: 2px solid blue;
		border-radius: 15px;
		width: 80vw;
		/* Use viewport height units for responsive height */
		// max-height: 90%;
		display: flex;
		
		overflow: hidden;
		




		.mychat{
			display: flex;
			width:50%;
			flex-direction: column;
			
			background-color: #3e3c61;

			.navbar{
				display: flex;
				background-color: #61549a;
				padding: 10px;
				justify-content: space-between;
				align-items: center;

				.logo{
					font-weight: bold;
					
				}
				
				.user{
					display: flex;
					gap: 10px;


					button{
						background-color: #5d5b8b;
						color: wheat;
						border: none;
						cursor: pointer;
						font-size: 10px;
				}
				}
			}

			.search{
					border-bottom: 1px solid grey;
					

				.searchForm{

					input{

						background-color: transparent;
						border: none;
						color: white;
						outline: none;

					}

					  display: flex;
					 justify-content: space-between;
					background-color: #3e3c61;
					padding: 12px;
					
					button{
						display: flex;
						align-items: center;
						gap: 20px;
						
						
						font-size: 10px;
						background-color: #3e3c61;
					}				
					

			}				
			}

			
			
.chatComp{
	.userChat{
		padding: 10px;
		display: flex;
		align-items: center;
		gap: 10px;
		color: white;
		img{
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}

		.userinfo{
			span{
				font-size: 18px;
				font-weight: 500;
			}
			p{
				font-size: 14px;
				color: lightgrey;

			}
		}


	}

}




}






		.chatblock{
			
			flex:2 ;
			

			.chatinfo{

				background-color: #5d5b8d;
				height: 44px;
				display: flex;
				align-items:center ;
				justify-content: flex-end;
				padding: 10px;
				
			}
			
			
					
					 
			
	
			
		
		}



	}



}